@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    /* background: #7d1fd4; */
    /* background: #5c40c6; */
    background: #553aa6;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    transition: filter 0.4s;
    filter: blur(15px);
    overflow-x: hidden;
}

.weather{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    box-sizing: border-box;
}


.search-city{
    border: none;
    width: 100%;
    padding: 1rem .6rem;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 1.4rem;
    color: inherit;
    margin-bottom: 1rem;
    border-radius: 4px;
}
.search-city::placeholder{
    color: #fff;
}
/* input box */
input:focus{
    outline: none !important;
}
#search-city::-webkit-calendar-picker-indicator{
    display:none !important;
}
#search-city::-webkit-search-cancel-button{
    /* might not work in all browsers - search cancel hidden because it's confusing with event on datalist (search directly clicking on datalist feature) */
    /* display: none; */
    -webkit-appearance: none;
}


.weather-your-city{
    margin-bottom: .625rem;
}
.weather-today{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.weather-img-condition{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    text-align: center;
    margin:auto;
    
}
.weather-image{
    width: 200px;
    /* width: 40vmin; */
    align-self: center;
}
.weather-condition{
    /* text-align: center; */
    /* align-self: center; */
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.weather-today-details{
    font-size: 1.5rem;
}
.weather-city{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1.2rem 0;
    max-width: 25rem;
    overflow-wrap: break-word;
}
.weather-day{
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0.7rem 0;
}

.today-details p{
    margin: .6rem 0;
}
.indicator::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1.8rem;
    height: 1.8rem;
    background-size: cover;
    margin-right: .6rem;
}
.indicator-humidity::before{
    background-image: url(../images/humidity.png);
}
.indicator-wind::before{
    background-image: url(../images/wind.png);
}
.indicator-pressure::before{
    background-image: url(../images/pressure.png);
}
.indicator-direction::before{
    background-image: url(../images/direction.svg);
}

.weather-temperature{
    font-size: 3.5rem;
    font-weight:400;
    margin-top: 0.7rem;
}
.weather-temperature-feels{
    font-size: 1.2rem;
    font-weight: 300;
}
.visibility-and-daytime{
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: rgb(203, 201, 204);
}
.visibility-and-daytime span{
    color: #fff;
}
.weather-visibility{
    margin: 1rem 0;
}
.weather-daytime p{
    margin: 0.5rem 0;
}
.daytime-calculations{
    font-size: 1rem;
}


.weather-forecast{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.forecast-icon{
    width: 90px;
}
.weather-forecast-item{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.7rem;
    margin: 0 0.3rem 0.3rem;
    padding: 1.3rem .3rem .3rem;
    box-sizing: border-box;
    min-width: 150px;
    width: calc(20% - 1.5rem);
    font-size: 1.5rem;
}
.weather-forecast-item > *{
    margin: 1rem 0;
}





/* alert box */
.alert-container{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.no-display{
    display: none;
}
.alert-container.show{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(0%);
    }
}
.alert-container.hide{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide{
    0%{
        transform: translateX(0%);
    }
    40%{
        transform: translateX(5%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}
.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3e0b6b;
    
    /* min-width: 420px; */
    width: max-content;
    max-width: 70%;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    border-left: 4px solid #c00384;
    font-size: 1.2rem;
    padding: 0 10px;
}
.alert-message{
    padding: 0px 10px;
}
.alert-icon{
    width: 2rem;
    padding-top: 2px;
}
.close-icon{
    width: 3rem;
    padding-top: 3px;
    color: #c00384;
    cursor: pointer;
}
.close-icon:hover{
    color: #f10080;
}

/* ---------scroll bar---------- */
::-webkit-scrollbar{
    width: .70rem;
    background-color: hsl(250, 12%, 48%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: hsl(250, 12%, 36%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(250, 8%, 65%);
}

/* offline status */
.offline-wrapper{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 2px;
}
.offline{
    color: rgb(247, 185, 185);
}
.online{
    color: rgb(162, 247, 162);
}


/* ------footer------ */
footer{
    background: #3C3C6E;
}
footer a:link{
    text-decoration: none;
    color: #ffffff;
}
footer a:visited{
    text-decoration: none;
    color: #ffffff;
}

.footer-flex{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 1rem 0 0.7rem;
    font-size: 1.5rem;
}
.settings{
    padding-left: 5rem;
    display: flex;
    justify-content:center;
}

.celcius, .fahrenheit{
    min-width: 3rem;
    display: flex;
    justify-content: space-around;
}
.celcius{
    padding-right: 0.2rem;
}
.settings img{
    background: rgba(255, 255, 255, 0.2);
    max-width: 2rem;
    border-radius: 3px;
}

.homecity{
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
}
.homecity button{
    background-color: rgba(255, 255, 255, 0.2);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    border-radius: 3px;
}
.home-icon{
    width: 1rem;
    margin-top: 0.2rem;
    fill: #fff;
}
.home-icon:hover{
    fill: #3e0b6b;
}
.set{
    fill: #502179;
}
.disclaimer{
    font-size: .9rem;
    text-align: center;
    padding: 0 0.5em;
}
.maker{
    font-size: 1rem;
    text-align: center;
    padding: 0.3rem;
    vertical-align: middle;
}
.maker a:link{
    color: #9c48e6;
}
.maker a:visited{
    color: #a07bc0;
}
ion-icon{
    vertical-align:text-bottom;
}
.heart{
    color: rgb(211, 207, 214);
}
.ajoy{
    font-weight: 500;
}



/* ------mediaquery: responsive------ */
@media only screen and (max-width: 997px) {
    .weather{
        height: auto;
    }
}
@media only screen and (max-width: 668px) {
    .offline-wrapper{
        font-size: 1rem;
    }
    .footer-flex{
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }
    .settings{
        padding-left: 0;
    }
}
@media only screen and (max-width: 499px) {
    .weather-temperature{
        padding-right: 1rem;
    }
}
@media only screen and (max-width: 444px) {
    .rd-break{
        display: none;
    }
    .weather-today{
        flex-direction: column;
        align-items: flex-start;
    }
    .weather-img-condition{
        margin-right: auto;
        margin-left: 0;
    }
}
 
@media only screen and (max-width: 416px) {
    .offline-wrapper{
        font-size: 1rem;
    }
    .weather-forecast-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        min-width: 100%;
    }
    .weather-forecast-item > * {
        margin: 0.2rem 0;
    }
    .weather{
        width: 85%;
    }
    .weather-your-city{
        margin-bottom: 1.5rem;
    }
    .weather-forecast-item{
        font-size: 1.35rem;
    }
}
@media only screen and (max-width: 355px) {
    .weather-forecast-item{
        font-size: 1.3rem;
    }
    .offline-wrapper{
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 340px) {
    .weather-forecast-item{
        font-size: 1.25rem;
    }
}